<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I/O</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='io_style.css')}}">
</head>
<body>
    <div class="title">
        <header>Project: I/O</header>
    </div>
    <div class="Paragraph">
        <p>I/O is a data automation tool. To help people understand and read data better.</p>
    </div>
    <div class="button">
        <div class="button-style">
            <button>Get started</button>
        </div>
    </div>
</body>
</html>